*{
    margin:0;
    padding:0;
}
.continer{
    width:80%;
    margin:auto;
}
.content{
    margin-top:40px;
}
button{
    border:none;
    padding:5px 20px;
    color:#222;
    border-radius: 5px;
    transition:background .3s ease;
    margin-bottom: 10px;
}
button:hover{
    background: #ddd;
}
label{
    font-size:20px;
}
main{
    padding-top: 40px;
    padding:20px;
    background-color: #c591f5;
    font-size: 16px;
}                                        



